<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnust.mapper.PartsMapper">

    <!-- 分页查询配件列表 -->
    <select id="list" resultType="com.hnust.pojo.Parts">
        SELECT ya.*
        FROM yjx_parts ya
        WHERE 1=1
        AND (#{userId} IN (1,5,8))
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (
                ya.part_name LIKE CONCAT('%', #{searchKeyword}, '%')
                OR ya.part_description LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
        ORDER BY
        <choose>
            <when test="sortField == 'createdAt'">ya.created_at</when>
            <when test="sortField == 'part_id'">ya.part_id</when>
            <otherwise>ya.created_at</otherwise>
        </choose>
        <choose>
            <when test="sortOrder == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
    </select>

    <!-- 添加配件 -->
    <insert id="addParts">
        INSERT INTO yjx_parts(part_name, part_description, part_price, stock_quantity, supplier_id)
        VALUES (#{partName}, #{partDescription}, #{partPrice}, #{stockQuantity}, #{supplierId})
    </insert>

    <!-- 更新配件 -->
    <update id="updateParts">
        UPDATE yjx_parts
        SET part_name = #{partName},
            part_description = #{partDescription},
            part_price = #{partPrice},
            stock_quantity = #{stockQuantity},
            supplier_id = #{supplierId}
        WHERE part_id = #{partId}
    </update>

    <!-- 根据ID查询配件 -->
    <select id="queryPartsByPartId" resultType="com.hnust.pojo.Parts">
        SELECT * FROM yjx_parts WHERE part_id = #{partId}
    </select>

    <!-- 根据ID删除配件 -->
    <delete id="deletePartsByPartId">
        DELETE FROM yjx_parts WHERE part_id = #{partId}
    </delete>

</mapper>
